<table class="outer" cellspacing="1" width="100%">
<tr>
	<td class="head" width="200"><{$smarty.const._CO_SBILLING_ACCOUNT_NAME}></td>
	<td class="even"><{$smartbilling_account.name}></td>
</tr>
<tr>
	<td class="head" width="200"><{$smarty.const._CO_SBILLING_ACCOUNT_CONTACT_LASTNAME}></td>
	<td class="odd"><{$smartbilling_account.contact_lastname}></td>
</tr>
<tr>
	<td class="head" width="200"><{$smarty.const._CO_SBILLING_ACCOUNT_CONTACT_FIRSTNAME}></td>
	<td class="even"><{$smartbilling_account.contact_firstname}></td>
</tr>
<tr>
	<td class="head" width="200"><{$smarty.const._CO_SBILLING_ACCOUNT_CONTACT_EMAIL}></td>
	<td class="odd"><{$smartbilling_account.contact_email}></td>
</tr>
<tr>
	<td class="head" width="200"><{$smarty.const._CO_SBILLING_ACCOUNT_CONTACT_PHONE}></td>
	<td class="even"><{$smartbilling_account.contact_phone}></td>
</tr>
<tr>
	<td class="head" width="200"><{$smarty.const._CO_SBILLING_ACCOUNT_WEBSITE}></td>
	<td class="odd"><a href="<{$smartbilling_account.website}>"><{$smartbilling_account.website}></a></td>
</tr>
</table>